.section{
  border-radius:25px;
}

.title{
  text-align:center;
  background-color:#0062ff;
}

.body{
  background-color:#dddddd;
  text-decoration: none;
  color:#000000;
}

*{
  font-family:"M PLUS 1p";
}