.section{
  border-radius:25px;
}

.title{
  text-align:center;
  background-color:#0062ff;
}

.body{
  background-color:#dddddd;

  /*
  aタグの下の線を無効化する。

    a{
      text-decoration:none;
    }

  でも良い。(((じゃあそうしろよ
  */
  text-decoration: none;
  color:#000000;
}

*{
  font-family:"M PLUS 1p";
}

#sidebar{
  width:200px;
  position:fixed;
  left:0px;
}