body {
    --accent-color: #0066ff;
    --background-color: #111;
    --border-color: #666;
    --text-color: #fefefe;

    background-color: var(--background-color);
}

#container {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: var(--background-color);

    min-width: calc(100vmin + 300px);
    max-width: calc(100vmin + 500px);

    display: flex;
}

#game {
    width: 100vmin;
    aspect-ratio: 1;

    background-color: white;

    image-rendering: pixelated;
}

#control {
    width: calc(100% - 100vmin);
    height: 100%;
    color: var(--text-color);

    padding: 20px;
    box-sizing: border-box;
}

#control > .initBoard {
    width: 100%;
    aspect-ratio: 1;

    background-color: white;

    image-rendering: pixelated;
}

#control > .buttons {
    --button-count: 2;

    height: 50px;
}

#control > .buttons > button {
    width: calc(100% / var(--button-count));
    height: 100%;

    box-sizing: border-box;
    border: none;

    background-color: var(--background-color);
    border-radius: 10px;
    transition: background 0.3s ease;

    color: var(--text-color);
}

#control > .buttons > button:hover:not(:disabled) {
    background-color: var(--accent-color);
    cursor: pointer;
}

#control > .buttons > button:disabled {
    color: var(--border-color);
}

#control > .score {
    user-select: none;
}

#control > .score > .hiScore {
    cursor: pointer;
}

#help > .icon {
    position: absolute;
    right: 20px;
    bottom: 20px;

    width: 50px;
    height: 50px;

    border-radius: 50px;
    border: 5px solid #808080dd;

    background-color: var(--background-color);

    transition: background 0.3s ease, border 0.3s ease;
}

#help > .icon > span {
    position: absolute;
    top: 50%;
    left: 50%;

    translate: -50% -50%;

    font-size: 25px;
    color: var(--text-color);

    vertical-align: middle;

    user-select: none;
}

#help > .icon:hover {
    background-color: var(--accent-color);
    border-color: #0066ffdd;

    cursor: pointer;
}

#help > .body {
    min-width: 200px;
    min-height: 300px;

    max-height: 80%;

    width: 40%;
    aspect-ratio: 2 / 3;

    border: 1px solid var(--border-color);
    border-radius: 10px;
}

#help > .body > .inner {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: var(--background-color);

    color: var(--text-color);

    padding: 10px 20px;

    box-sizing: border-box;
}
